
:host {
  --field-height: 38px;
}

.wrapper {
  position: relative;
}

input {

  display: block;
  align-items: center;
  appearance: none;

  width: 100%;
  height: var(--field-height);
  padding: 0;

  text-align: center;

  border: 0 none;
  background: #fff;

}

mm-loader {

  --loader-size: var(--field-height);

  position: absolute;
  top: -1px;
  right: var(--field-height);

}
