
:host {

  --font-size-m: 14px;
  --font-size-s: 12px;

  --spacing-s: 8px;
  --spacing-m: 16px;

  --blue-color-base: #10559a;

  font-size: var(--font-size-m);

  display: block;

  width: 800px;
  margin: auto;

}

header {
  text-align: center;
}

header > h1 {
  margin: 2em 0 .25em;
}

header > h2 {
  margin: 0 0 1.3em;
}

.form {

  padding: var(--spacing-s);

  border-radius: 3px;

  color: #fff;
  background: var(--blue-color-base);

}

.last-search-label {

  font-size: var(--font-size-s);

  display: flex;
  justify-content: flex-end;

  margin: var(--spacing-s) 0;

}
